nav {
  background-color: chartreuse;
  text-align: center;
  padding: 5px;
}
a {
  text-decoration: none;
  padding-right: 10px;
}
a:hover{
  background-color: crimson;
}
 .logo{
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 50px;
  color: #FFFCF9;
}
.logo-mockup{
  position: relative;
  text-align: center;
}
.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  width: 700px;
  height: auto;
  background-color: #FFFCF9;
   box-shadow: inset 0 0 15px #000000;
}
html{
  background-color: #26547C;
}












/*OLD CSS DOWN BELOW*/
/* li{ */
  background-color: #FFFCF9;
}
/* h1{ */
  text-align: center;
  height: 30px;
  background-color: #FFD166;
  font-size: 25px;
  width: 300px;
  
}
/* #mainPic{ */
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* filter: hue-rotate(500deg); */
  padding-top: 5px;

}
/* div { */
  margin: auto;
  width: 300px;
  border: 5px solid #06D6A0;
  padding: 10px;
}
/* li a { */
  /* display: inline; */
  background-color: #FA8072;
  float: left;
}

/* h2{ */
  background-color: blue;
  width: 300px;
}
/* table,th,td{ */
  border: 1px solid black;
  width: auto;
}
/* table { */
  width: 666px;
}
/* th, td{ */
  width: auto
}
/* timeHeader { */
  width: 666px;
}