nav {
  background-color: #06D6A0;
  text-align: center;
  padding: 5px;
}
a {
  text-decoration: none;
  padding-right: 10px;
}
a:hover{
  background-color: #FA8072;
}
 .logo{ 
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
  color: #06D6A0;

  
}
.logo-mockup{
  position: relative;
  text-align: center;
}
.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  width: 800px;
  height: auto;
  background-color: #26547C;
  margin-top: 15px;
  border-width: 10px;
  border-style: dashed;
  border-color: #FFD166;
  /* filter: hue-rotate(200deg); */


}
html{
  background-color: #26547C;
}
h1{
  background-color: black;
  color: #FFD166;
  text-align: center;
  width: 750px;
  margin: auto;
  margin-bottom: 15px ;
  margin-top: 15px;
  font-size: 40px;

}
h2{
  font-size: 40px;
  text-align: center;
}
main{
  border-style: dashed;
  border-color: #FA8072;
  border-width: 10px;
  width: 800px;
  margin: auto;
  
}
#family{
  border-style: ridge;
  margin-left: 100px;
  width: 600px;
}
#frosted{
  width: 500px;
  float: right;
  border: none;
  margin-right: 1%;
}
#locationsDiv{
  width: 250px;
  background-color: #FFD166;
  padding: 10px;
  margin-left: 1%;
}
table, th, td{
  border: 1px solid #FFD166;
  padding: 5px;
  color: #FFD166;
  margin: auto;
  width: 800px;
}
#merchPics > div >img{
  width: 250px;
  border: none;
  height: 250px;
  padding: 7px;
}
